<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="st1" class="vn.edu.iuh.fit.Student">
            <property name="id" value="20051041"/>
            <property name="name" value="Tran Minh Thuan"/>
        </bean>
</beans>